html, body
{
    background-image: url("background.jpg");
    background-position:0% 70%;
    background-size: cover; /* Resize the background image to cover the entire container */
}


#myCanvasBackground{
    background-color: rgba(170, 170, 170, 0.4);
}

#myCanvas{
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px dashed lightblue;
}

.image-upload {
    display: none;
}

